<!DOCTYPE html>
<html lang="en">
<head>
  <base href="{global.baseUrl}" />
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{head.title} | {global.appName}</title>
  <meta name="description" content="{head.description}">
  <link type="image/x-icon" rel="icon" href="favicon.ico">
  <link type="text/css" rel="stylesheet" href="public/app.css" />
  <script type="text/javascript" charset="utf-8" src="public/app.js"></script>
</head>
<body class="{body.class}">
  <!-- Page wrapper -->
  <div class="wrapper">
    <!-- Header -->
    <header>
      <a href="/" class="logo"><img src="/public/logo.png" /></a>
      <nav aria-label="primary">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/account/create" class="logged-out">Sign Up</a></li>
          <li><a href="/session/create" class="logged-out">Log In</a></li>
          <li><a href="/checks/all" class="logged-in">Dashboard</a></li>
          <li><a href="/account/edit" class="logged-in">Settings</a></li>
          <li><a href="#" class="logged-in">Log Out</a></li>
        </ul>
      </nav>
    </header>
    <!-- Page specific content -->
    <main class="content">
